{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'InOwl/css/materialize.min.css' %}"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
<body>
{% include 'navigation.html'%}
<div class="row">
    <div class="col s12 m4 l3"></div>
    <div class="col s12 m4 l6 push-s3">
        <div class="card">
            <div class="card-content black-text">
                <form method="post">
                    <span class="row card-title">Создание игры:</span>
                    {% csrf_token %}
                    <div class="row input-field">
                        {{ form.message.errors }}
                        {{ form.name }}
                        <label for="{{ form.name.id_for_label }}">Название игры</label>
                    </div>
                    <div class="row input-field">
                        {{ form.message.errors }}
                        {{ form.tour_count }}
                        <label for="{{ form.tour_count.id_for_label }}">Предполагаемое количество туров</label>
                    </div>
                    <div class="row input-field">
                        {{ form.message.errors }}
                        {{ form.questions_count }}
                        <label for="{{ form.questions_count.id_for_label }}">Количество вопросов в туре</label>
                    </div>
                    <div class="row input-field">
                        {{ form.message.errors }}
                        {{ form.game_coefficient }}
                        <label for="{{ form.game_coefficient.id_for_label }}">Коэффицент значимости игры от 0 до 1</label>
                    </div>
                    <button class="btn waves-effect waves-light" type="submit" name="action">Создать игру</button>
                    <button type="submit" name="delete" class="btn btn-block orange waves-effect black-text">Удалить</button>
                </form>

            </div>
        </div>
    </div>
</div>
</body>