<!--Шаблон созданный для экрана просмотра игр !-->
{% include 'navigation.html'%}
<script>
    document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.fixed-action-btn');
    var instances = M.FloatingActionButton.init(elems, options);
  });
</script>
{% if team_list %}
    <a href="{% url 'game_creation' %}" style="position:fixed; bottom: 3%;right: 1%" class="btn-floating btn-large waves-effect waves-light orange"><i class="material-icons">add</i></a>
{% endif %}
<div class="container">
    {% if game_list %}
        <div>
            <ul class="collection">
                {% for game in game_list %}
                    <a class="collection-item black-text" style="font-size: 16px" href="{% url 'game_details' game_id=game.id %}">{{ game }}</a>
                {% endfor %}
            </ul>
        </div>
    {% else %}
        <div class="row">
            <div class="col s12">
                <div class="card white">
                    <div class="card-content black-text">
                        <span class="card-title">Упс, что-то пошло не так!</span>
                        <p>В данный момент ни одна игра не создана!</p>
                    </div>
                    <div class="card-action">
                        <a href="{% url 'game_creation' %}">Перейти к созданию игры</a>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
</div>