{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'InOwl/css/materialize.min.css' %}"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
<nav>
    <div class="nav-wrapper white">
            <a href="./" class="right brand-logo"><img src="{% static "/images/logo.png"%}" width="75" height="55" style="padding-right: 15%; padding-top: 10%"></a>

        <ul id="nav-mobile" class="left hide-on-med-and-down">
            <li><a class="black-text" href="./team_browser">Команды</a></li>
            <li><a class="black-text" href="./game_browser">Игры</a></li>
            <li><a class="black-text" href="./game_conduction">Ведение игры</a></li>
            <li><a class="black-text" href="./overall_rating">Общий рейтинг</a></li>
        </ul>
    </div>
</nav>