{% include 'navigation.html' %}
<body>
<div class="container">
    <div class="col s12 m4 l6 push-s3">
        <div class="card">
            <div class="card-content black-text">
                <div class="row">
                    <div class="input-field col s2">
                        <input type="number" id="team_number" value="{{ team.team_reg_id }}">
                        <label for="team_number">Номер команды</label>
                    </div>
                    <div class="input-field col s10">
                        <input type="text" id="team_name" value="{{ team.name }}"/>
                        <label for="team_name">Название команды</label>
                    </div>
                </div>
                {% if player_list %}
                    {% for player in player_list %}
                        <div class="row">
                            <div class="card">
                                <div class="card-content">
                                    <span class="card-title">Игрок {{ forloop.counter }}</span>
                                    <div>
                                        <div class="input-field">
                                            <input type="text" id="player_name" value="{{ player.name }}">
                                            <label for="player_name">Имя игрока</label>
                                        </div>
                                        <div class="input-field">
                                            <input type="text" id="player_school" value="{{ player.school }}">
                                            <label for="player_school">Школа</label>
                                        </div>
                                        <div class="input-field">
                                            <input type="number" id="player_grade" value="{{ player.grade }}">
                                            <label for="player_school">Класс</label>
                                        </div>
                                        <div class="input-field">
                                            <input type="date" id="player_birthday" value="{{ player.birthday }}">
                                            <label for="player_school">День рождения</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="card-action">
                <button type="submit" class="btn btn-block white waves-effect black-text">Готово</button>
                <button type="submit" class="btn btn-block white waves-effect black-text">Сохранить</button>
                <button type="submit" class="btn btn-block white waves-effect black-text">Сохранить и перейти к созданию
                    следующей команды
                </button>
            </div>
        </div>
    </div>
</div>
</body>